---
import Column from '../layouts/Column.astro'
import Layout from '../layouts/Layout.astro'
import Row from '../layouts/Row.astro'
import Widget from '../layouts/Widget.astro'
import IconAttachFile from '../assets/icon/i-attach-file.svg'
import Carousel from '../components/Carousel.astro'
import Cat from '../assets/img/cat.png'

import 运营插画2 from '../assets/others/运营插画2.png'
import 运营插画3 from '../assets/others/运营插画3.png'
import 乐哉校园 from '../assets/mobile/校园/乐哉校园1.png'
import ArtPixel from '../assets/mobile/艺术/Art Pixel-1.png'
import 绿色和平 from '../assets/web/绿色和平/GFM 01.png'
import 智枢 from '../assets/web/智枢/智枢 01.png'
import 密码生成器 from '../assets/web/随机密码/密码生成器 01.png'
---

<Layout title="Hey!">
  <Row class="h-30">
    <Widget class="w-198 h-30 bg-[linear-gradient(90deg,#D4F24E_0%,#9BEDF8_100%)] flex items-center gap-6">
      <!-- <img src={Avatar.src} alt="zimoe's avatar" class="w-18 h-18 b-rd-9" /> -->
      <p class="text-6">I'm Zimoe , a UI Designer.</p>
    </Widget>
    <Widget class="w-96 h-30 bg-#EFF7F7 flex items-center gap-3">
      <img src={IconAttachFile.src} alt="zimoe's resume" class="w-10 h-10" />
      <a href="/resume.pdf" class="text-6">View my resume here.</a>
    </Widget>
  </Row>
  <Row class="h-72.5">
    <Widget class="w-147 h-72.5 bg-#EFF7F7 text-6">
      <a class="flex flex-col h-full justify-between" href="/mobile">
        <p>Mobile Projects</p>
        <Carousel class="self-end" reverseZIndex={true} images={[ArtPixel, 乐哉校园]} />
      </a>
    </Widget>
    <Column class="w-70.5">
      <Widget class="text-6 w-70.5 h-46.5 bg-#EFF7F7">
        <a class="flex flex-col h-full justify-between" href="/Other Projects">
          <p>Other Projects</p>
          <Carousel
            class="self-end"
            reverseZIndex={true}
            images={[运营插画3, 运营插画2]}
            size={{ width: 136, height: 76 }}
          />
        </a>
      </Widget>
      <Widget class="w-70.5 h-20 bg-#D5F24F" />
    </Column>
    <Widget class="w-70.5 h-72.5 bg-#9BEDF8 flex justify-between">
      <div class="flex items-center justify-center gap-6 w-full h-full">
        <div class="flex flex-col items-center gap-6">
          <a class="i-simple-icons-gmail inline-block w-20 h-20 c-white" href="mailto:zimoaaa@gmail.com"></a>
          <a class="i-simple-icons-twitter inline-block w-20 h-20 c-white" href="https://x.com/Zimoe_" target="_blank"
          ></a>
        </div>

        <div class="flex items-center shrink-0 w-0.5">
          <div class="bg-white w-full h-40"></div>
        </div>

        <div class="flex flex-col items-center gap-6">
          <a
            class="i-simple-icons-dribbble inline-block w-20 h-20 c-white"
            href="https://dribbble.com/Zimoe"
            target="_blank"></a>
          <a
            class="i-simple-icons-behance inline-block w-20 h-20 c-white"
            href="https://www.behance.net/ba48845b"
            target="_blank"></a>
        </div>
      </div>
    </Widget>
  </Row>
  <Row class="h-70.5">
    <Widget class="w-56.4 h-70.5 bg-#FED133 flex justify-center items-center">
      <img src={Cat.src} alt="zimoe's cat" class="w-56.25 h-49.25" />
    </Widget>
    <Widget class="w-233.5 h-70.5 bg-#EFF7F7 text-6">
      <a class="flex flex-col h-full justify-between" href="/web">
        <p>Web Projects</p>
        <Carousel class="self-end" reverseZIndex={true} images={[绿色和平, 智枢, 密码生成器]} />
      </a>
    </Widget>
  </Row>
</Layout>
